<div id="projets">
  <div id="content">
    <h3>Construction d'un site web (fullstack)</h3>
    <p>
      Creation d'un reseau social d'entreprise. Le frontend a été conçu avec
      Angular et le backend avec nodeJs, la base de donnée avec SQL. Integration d'un
      systeme CRUD.
    </p>
  </div>
  <div id="content">
    <h3>Construire site ecommerce (frontend)</h3>
    <p>
      Creation d'un frontend avec html/css et Javascript. Utiliser ajax et la
      programmation orienté objet pour interagir avec un backend. Sans Utiliser
      de framework frontend.
    </p>
  </div>
  <div id="content">
    <h3>Construire un backend (API REST)</h3>
    <p>
      Creation d'un backend avec nodeJs. Pour le connecter à un
      frontend(Angular). elle consistait à creer un MVP d'un site d'avis
      gastronomique.
    </p>
  </div>
  <div id="content">
    <h3>Mettre en place un frontend avec html/css</h3>
    <p>
      Mise en place d'un cv en ligne avec le langage de description HTML/CSS. Et
      l'heberger sur github page.
    </p>
  </div>
  <div id="content">
    <h3>Dynamiser un site avec CSS</h3>
    <p>
      Creer et animer des pages html et les animer avec csc. Respecter la charte
      graphique, transformer une maquette en page html/css
    </p>
  </div>
  <div id="content">
    <h3>Referencement et SEO</h3>
    <p>
      Ameliorer la vitesse de chargement d'un site web, ameliorer le
      referencement du site web en utilisant les bonnes pratiques.
    </p>
  </div>
</div>
