<div id="projets">
  <div id="content">
    <h3>Construction d'un site web (fullstack)</h3>
    <p>
      Creation d'un reseau social d'entreprise. Le frontend a été conçu avec
      Angular et le backend avec nodeJs, la base de donnée avec SQL. Integration
      d'un systeme CRUD.
      <a href="https://github.com/bacardevelopper/frontend_projet_7">Lien Frontend</a>
      <a href="https://github.com/bacardevelopper/backend_Projet_Sept">Lien backend</a>
    </p>
  </div>
  <div id="content">
    <h3>Construire site ecommerce (frontend)</h3>
    <p>
      Creation d'un frontend avec html/css et Javascript. Utiliser ajax et la
      programmation orienté objet pour interagir avec un backend. Sans Utiliser
      de framework frontend.<a href="https://github.com/bacardevelopper/projetCinqEnDev">Lien</a>
    </p>
  </div>
  <div id="content">
    <h3>Construire un backend (API REST)</h3>
    <p>
      Creation d'un backend avec nodeJs. Pour le connecter à un
      frontend(Angular). elle consistait à creer un MVP d'un site d'avis
      gastronomique.<a href="https://github.com/bacardevelopper/projetSixAPI">Lien</a>
    </p>
  </div>
  <div id="content">
    <h3>Mettre en place un frontend avec html/css</h3>
    <p>
      Mise en place d'un CV en ligne avec le langage de description HTML/CSS. Et
      l'heberger sur github page.
      <a href="https://kufanya.github.io/">Lien</a>
    </p>
  </div>
  <div id="content">
    <h3>Dynamiser un site avec CSS</h3>
    <p>
      Creer et animer des pages html et les animer avec csc. Respecter la charte
      graphique, transformer une maquette en page html/css.
      <a href="https://github.com/kufanya/ProjetOhMyFood.git">Lien</a>
    </p>
  </div>
  <div id="content">
    <h3>Referencement et SEO</h3>
    <p>
      Améliorer la vitesse de chargement d'un site web, améliorer le
      référencement d'un site web en appliquant les bonnes pratiques.
      <a href="https://github.com/kufanya/kufanya.github.io.git">Lien</a>
    </p>
  </div>
</div>
