<div id="profile">
  <img id="img" src="../../assets/0.jpg" />
  <div id="identite" class="identite">
    <div id="idIdentite">
      <p>Bacar Darwin</p>
      <p>Developpeur web (fullstack)</p>
      <p>De Mayotte</p>
    </div>
  </div>
  <!-- -->
  <div id="identite">
    <h3>Je me présente</h3>
    <div id="texte">
      <p>
        Je suis developpeur web (fullstack). ça veut dire que je suis capable de
        conçevoir un site web de A à Z ou creer des outils particuliers pour
        vous. J'aime travailler en équipe mais ça me dérange pas de travailler
        solo. Je travaille principalement avec le langage javascript pour le
        backend avec le runtime nodeJs., je mets ma curiosité
        et ma rigueur au service
        de mes clients.
      </p>
    </div>
  </div>
  <!-- -->
  <div id="identite">
    <h3>Mes compétences clés (skills)</h3>
    <div id="skills">
      <div id="skill">
        <img src="../../assets/js.png" />
        <p>
          <span>Javascript : </span>Langage de programmation qui permet de
          programmer un applicaion web. Flexible grace à l'environnement de
          frameworks autours du langage
        </p>
      </div>
      <div id="skill">
        <img src="../../assets/angular.png" />
        <p>
          <span>Angular : </span>Framework qui permet de creer le plus
          rapidement un site internet coté frontend (graphique) rapidement.
        </p>
      </div>
      <div id="skill">
        <img id="nodeJs" src="../../assets/nodeJs.png" />
        <p>
          <span>NodeJs : </span>runtime (environnement d'execution) qui permet
          de creer un serveur en javascript (backend), ou des outils plus
          poussés. Avec les frameworks et cli quelle integre. Elle permet de
          developper rapidement des outils liées à differents domaines comme le
          developpement d'un bacend en Javascript.
        </p>
      </div>
      <div id="skill">
        <img id="git" src="../../assets/git.png" />
        <p>
          <span>Git : </span>Logiciel (cli) est un logiciel de gestion de
          versions décentralisé. C'est un logiciel libre créé par Linus
          Torvalds. Elle permet de gerer la version de notre code : (on peut
          enregistrer, modifier, supprimer, ajouter, travailler en equipe sur le
          meme code source).
        </p>
      </div>
      <div id="skill">
        <img src="../../assets/mongodb.png" />
        <p>
          <span>MongoDb : </span>Systeme de gestion base de donnée (noSql) :
          permet de une base de donnée avec une strucure moins strict, le format
          de donnée enregistrer est le JSON.
        </p>
      </div>
      <div id="skill">
        <img src="../../assets/icons8-npm-96.png" />
        <p>
          <span>NPM : </span>Logiciel (cli) : npm est le gestionnaire de paquets
          officiel de Node.js. Depuis la version 0.6.3 de Node.js, npm fait
          partie de l'environnement et est donc automatiquement installé par
          défaut. npm fonctionne avec un terminal et gère les dépendances pour
          une application
        </p>
      </div>
    </div>
  </div>
</div>
