<div id="profile">
  <img id="img" src="../../assets/0.jpg" />
  <div id="identite" class="identite">
    <h3>Identite</h3>
    <div id="idIdentite">
      <p>Bacar Darwin</p>
      <p>Developpeur web (fullstack)</p>
      <p>De Mayotte</p>
    </div>
  </div>
  <!-- -->
  <div id="identite">
    <h3>Je me présente</h3>
    <div id="texte">
      <p>
        Je suis developpeur web (fullstack). ça veut dire que je suis capable de
        conçevoir un site web de A à Z ou creer des outils particuliers pour
        vous. J'aime travailler en équipe mais ça me dérange pas de travailler
        solo. Je travaille principalement avec le langage javascript pour le
        backend avec le runtime nodeJs.
      </p>
    </div>
  </div>
  <!-- -->
  <div id="identite">
    <h3>Mes compétences clés (skills)</h3>
    <div id="skills">
      <div id="skill">
        <img src="../../assets/js.png" />
        <p>
          <span>Javascript : </span>Langage de programmation qui permet de
          programmer un applicaion web. Flexible grace à l'environnement de
          frameworks autours de Langage
        </p>
      </div>
      <div id="skill">
        <img src="../../assets/angular.png" />
        <p>
          <span>Angular : </span>Framework qui permet de creer le plus
          rapidement un interface web rapidement. Elle nous donne accée à des
          ligne de commandes qui nous nous permettent d'aller plus vite sur
          notre projet
        </p>
      </div>
      <div id="skill">
        <img id="nodeJs" src="../../assets/nodeJs.png" />
        <p>
          <span>NodeJs : </span>Framework qui permet de creer le plus
          rapidement un interface web rapidement. Elle nous donne accée à des
          ligne de commandes qui nous nous permettent d'aller plus vite sur
          notre projet
        </p>
      </div>
      <div id="skill">
        <img id="git" src="../../assets/git.png" />
        <p>
          <span>Git : </span>Framework qui permet de creer le plus
          rapidement un interface web rapidement. Elle nous donne accée à des
          ligne de commandes qui nous nous permettent d'aller plus vite sur
          notre projet
        </p>
      </div>
      <div id="skill">
        <img  src="../../assets/mongodb.png" />
        <p>
          <span>MongoDb : </span>Framework qui permet de creer le plus
          rapidement un interface web rapidement. Elle nous donne accée à des
          ligne de commandes qui nous nous permettent d'aller plus vite sur
          notre projet
        </p>
      </div>
      <div id="skill">
        <img  src="../../assets/icons8-npm-96.png" />
        <p>
          <span>NPM : </span>Framework qui permet de creer le plus
          rapidement un interface web rapidement. Elle nous donne accée à des
          ligne de commandes qui nous nous permettent d'aller plus vite sur
          notre projet
        </p>
      </div>
    </div>
  </div>
</div>
